[Unit]
Description=Two Monitors Plot Display

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/radius/.Xauthority
ExecStart=/usr/bin/python3 /home/radius/repositories/energiby-yderzonen/two_monitors_plot.py
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=graphical.target